In [1]:
from pyspark.sql import SparkSession

In [2]:
# Inicia a sessão spark com configurações do Iceberg
spark = SparkSession.builder \
  .appName("IcebergLocalDevelopment") \
  .config('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.6.1') \
  .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
  .config("spark.sql.catalog.local", "org.apache.iceberg.spark.SparkCatalog") \
  .config("spark.sql.catalog.local.type", "hadoop") \
  .config("spark.sql.catalog.local.warehouse", "spark-warehouse/iceberg") \
  .getOrCreate()

25/04/23 13:29:30 WARN Utils: Your hostname, Guichard resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/04/23 13:29:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/home/guichard/.cache/pypoetry/virtualenvs/engenharia-de-dados-apache-spark-FSwoO1eP-py3.12/lib/python3.12/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/guichard/.ivy2/cache
The jars for the packages stored in: /home/guichard/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-9a71f8f0-70c7-4084-9fc2-eb27b9549ceb;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.1 in central
:: resolution report :: resolve 195ms :: artifacts dl 7ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   1   |   0   |   0   |   0   ||   1   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-9a71f8f0-70c7-4084-9fc2-eb27b9549ceb
	confs: [default]
	0 artifacts copied, 1 already retrieved (0kB/7ms)
25/04/23 13:29:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/23 13:29:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
## Criação da tabela cliente_iceberg
spark.sql(
     """
     CREATE TABLE IF NOT EXISTS local.cliente_iceberg (
         id INT NOT NULL,
         nome_cliente STRING,
         uf CHAR(2),
         status BOOLEAN,
         limite_credito FLOAT
     ) USING iceberg
     """
)

DataFrame[]

spark.sql("select * from local.cliente_iceberg").show()

## Insert

In [5]:
spark.sql("""
    INSERT INTO local.cliente_iceberg VALUES
    (1, 'Jean', 'SP', true, 5000.0),
    (2, 'Lucas', 'RJ', false, 3000.0),
    (3, 'Matheus', 'MG', true, 7000.0)
""")

DataFrame[]

In [4]:
spark.sql("select * from local.cliente_iceberg").show()

+---+------------+---+------+--------------+
| id|nome_cliente| uf|status|limite_credito|
+---+------------+---+------+--------------+
+---+------------+---+------+--------------+

## Update

In [7]:
spark.sql("""
    UPDATE local.cliente_iceberg
    SET limite_credito = 8000.0
    WHERE nome_cliente = 'Jean'
""")

DataFrame[]

In [8]:
spark.sql("select * from local.cliente_iceberg").show()

+---+------------+---+------+--------------+
| id|nome_cliente| uf|status|limite_credito|
+---+------------+---+------+--------------+
|  1|        Jean| SP|  true|        8000.0|
|  2|       Lucas| RJ| false|        3000.0|
|  3|     Matheus| MG|  true|        7000.0|
+---+------------+---+------+--------------+

## Delete

In [9]:
spark.sql("""
    DELETE FROM local.cliente_iceberg
    WHERE id = 2
""")

DataFrame[]

In [10]:
spark.sql("select * from local.cliente_iceberg").show()

+---+------------+---+------+--------------+
| id|nome_cliente| uf|status|limite_credito|
+---+------------+---+------+--------------+
|  1|        Jean| SP|  true|        8000.0|
|  3|     Matheus| MG|  true|        7000.0|
+---+------------+---+------+--------------+